<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Category

            </h4>
            <!-- <p class="card-description">
                Basic form layout
            </p> -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>





            <form class="forms-sample text-center" action="/admin/add-category" method="post">
                <div class="form-group">
                    <p></p>
                    <label for="exampleInputUsername1">Category</label>
                    <input type="text" class="form-control" id="name" placeholder="Username" name="name">
                </div>
               
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

<!-- <script>

    function validation(){
        const name=document.getElementById('name')
        const nameValue=name.value?.trim()

        const err=name.parentElement.querySelector('p')
        err.innerText=""
        let flag=1
        if(nameValue==''){
            err.innerText='please add category'
            flag=2
        }

        if(flag==1){
            submit(nameValue)
        }

        function submit(nameValue){
            fetch('/admin/add-category',{
                method:"POST",
                headers:{
                    'Content-Type': 'application/json'
                },
                body.JSON.stringify({
                    name:nameValue
                })
            })
            .then((res)=>res.json())
            .then((res)=>{
                if(res.value=='success'){
                    
                }
            })
        }
    }




</script> -->

