<div class="col-lg-11 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Table</h4>


        
        <a type="button " href="/admin/add-coupon" class="btn btn-success btn-sm btn-icon-text btn-icon-prepend">
          Add Coupon
      </a>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Coupon Code
                </th>
                <th>
                  Category
                </th>
                <th>
                  Discount %/ Rupees
                </th>
                <th>
                  discount
                </th>
                <th>
                  Max Use
                </th>
              
              </tr>
            </thead>
            <tbody>
               
              <tr>
                <td>
                  adf 
                </td>
                <td class="py-1" >
                  <img style="border-radius:2cm !important;width: 50px;" src="?.?./?.?./images/faces/face1?.jpg" alt="image"/>
                </td>
                <td>
                 asdf
                </td>
                <td>
                adsf
                </td>
               
               
                <td>
                 
                    <a type="button" style="width:80px ;" href="" class="btn btn-success btn-sm btn-icon-text btn-icon-prepend">
                      block
                  </a>
                   
                    
                    <a type="button" style="width:80px ;" href="" class="btn btn-danger btn-sm btn-icon-text  btn-icon-prepend">
                      Unblock
                  </a>
                   
                </td>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

