<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Banner Management</h3>
      <p></p>

      <br>

      <form class="forms-sample" method="post" action="/admin/add-main-banner" enctype="multipart/form-data">

        <div class="row">

          <div class="col-12">
            <div class="form-group col-md-5">
              <div class="d-flex">
                <label class="w-25">Title</label>
                <p id="err" class="text-danger d-flex justify-content-end w-75"></p>
              </div>
              <input type="text" class="form-control" id="" placeholder="Title" name="title">
            </div>

            <div class="form-group col-md-5">
              <div class="d-flex">
                <label class="w-25">Description</label>
                <p id="err" class="text-danger d-flex justify-content-end w-75"></p>
              </div>
              <input type="text" class="form-control" id="" placeholder="Description" name="description">
            </div>

            <div class="form-group col-md-5">
              <div class="d-flex">
                <label class="w-25">subtitle</label>
                <p id="err" class="text-danger d-flex justify-content-end w-75"></p>
              </div>
              <input type="text" class="form-control" id="" placeholder="Description" name="subtitle">
            </div>

            <div class="form-group col-md-5">
              <div class="d-flex">
                <label class="w-25">offer</label>
                <p id="err" class="text-danger d-flex justify-content-end w-75"></p>
              </div>
              <input type="text" class="form-control" id="" placeholder="Description" name="offer">
            </div>

            <div class="form-group col-md-10">
              <img class="img-fliud" src="" alt="" style="width:40em; height:20em; " id="imgView0">
            </div>
            <div class="form-group col-md-5">
              <label for="">Image</label>
              <input type="file" name="image" id="image" class="form-control" onchange="document.getElementById('imgView0').src= window.URL.createObjectURL(event.target.files[0])">
            </div>
          </div>

          <div class="col-6">
            <button type="submit" class="btn btn-primary ml-3 mr-2 col-md-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>

              


      </form>
    </div>
  </div>
</div>


<!-- <script>
    function viewImage0(event) {
      document.getElementById('imgView0').src = URL.createObjectURL(event.target.files[0])
      console.log(event)
    }
  
    function viewImage1(event) {
      document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
      console.log(event)
    }
  
    function viewImage2(event) {
      document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[0])
    }
  
    function viewImage3(event) {
      document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[0])
    }
  </script> -->